[submodule "brother-overlay"]
	path = brother-overlay
	url = git://github.com/stefan-langenmaier/brother-overlay.git
[submodule "compiz-reloaded"]
	path = compiz-reloaded
	url = https://github.com/kajzersoze/compiz-reloaded-overlay.git
[submodule "dotnet"]
	path = dotnet
	url = git://anongit.gentoo.org/proj/dotnet.git
[submodule "imaging"]
	path = imaging
	url = https://github.com/gerddie/gentoo-imaging.git
[submodule "stintel"]
	path = stintel
	url = https://github.com/stintel/gentoo-overlay.git
[submodule "trinity"]
	path = trinity
	url = https://github.com/Fat-Zer/trinity.git
[submodule "wreathe-overlay"]
	path = wreathe-overlay
	url = https://github.com/ethus3h/wreathe-overlay.git
