[submodule "brother-overlay"]
	path = brother-overlay
	url = https://github.com/stefan-langenmaier/brother-overlay.git
[submodule "compiz-reloaded"]
	path = compiz-reloaded
	url = https://github.com/ethus3h/compiz-reloaded-overlay.git
[submodule "dotnet"]
	path = dotnet
	url = https://anongit.gentoo.org/git/proj/dotnet.git
[submodule "imaging"]
	path = imaging
	url = https://github.com/gerddie/gentoo-imaging.git
[submodule "R_Overlay"]
	path = R_Overlay
	url = https://github.com/gentoo-mirror/R_Overlay.git
[submodule "stintel"]
	path = stintel
	url = https://github.com/stintel/gentoo-overlay.git
[submodule "wreathe-overlay"]
	path = wreathe-overlay
	url = https://github.com/ethus3h/wreathe-overlay.git
